html{
	font-size:100px;
}
body{
	font-size:16px;
	margin:0;
	padding:0;
}
*{
	list-style:none;
	margin:0;
	padding:0;
}
@mixin useRem($device-size){
	$device-size-list:$device-size,414px,412px,380px,375px,360px,320px,314px,312px;
	@each $size in $device-size-list{
	 @media screen and (max-width:$size){
	 html{
	  font-size:100px*$size/$device-size;
	 }
	 }
	}
}
@include useRem(1080px);
.box{
	width:100%;
	height:100vh;
	position:absolute;
	left:0;
	top:0;
}
@mixin center{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}
@font-face{
	font-family:"icon";
	src:url("../iconfont/ux_1476291564_9087014/iconfont.woff");
}
.icon{
	font-family:"icon" !important;
	text-align:center;
}
.icon-xiangzuo:before { content: "\e61d"; }
.icon-lingdang:before { content: "\e64d"; }
.icon-jiahao:before { content: "\e61e"; }
.icon-shijian:before { content: "\e666"; }
.icon-luyin:before { content: "\f008c"; }
.icon-iconfont89:before { content: "\e752"; }
.icon-yingyong:before { content: "\e61c"; }
@font-face{
	font-family:"icons";
	src:url("../iconfont/1/iconfont.woff");
}
.icons{
	font-family:"icons"!important;
	text-align:center;
}
.icon-yemianxiaozhushoubianqian:before { content: "\e737"; }
.icon-ditu:before { content: "\e611"; }
.icon-fenlei:before { content: "\e657"; }
.icon-beizhu:before { content: "\e60b"; }
.icon-duihao:before { content: "\e65c"; }
.icon-sigekuang:before { content: "\e616"; }
.icon-shijian:before { content: "\e614"; }
.icon-1:before { content: "\e6cb"; }
.icon-yun:before { content: "\e644"; }
.icon-fangdajing:before { content: "\e600"; }
.icon-xinxi:before { content: "\e620"; }
.icon-wancheng:before { content: "\e613"; }
.icon-shezhi:before { content: "\e60d"; }
.header{
	width:100%;
	height:1.7rem;
	background:#333;
	position:relative;
	z-index:5;
	.left{
	width:1.7rem;
	height:1.4rem;
	border-radius:50%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto;
	background:url(../image/1.jpg)no-repeat center center/70%;
	float:left;
}
.middle{
	width:2.08rem;
	height:1.7rem;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-1.04rem;
	.date{
	 height:0.45rem;
	 float:left;
	 line-height:1.5rem;
	 font-size:0.43rem;
	 color:#fff;
	 margin-right:0.1rem;
	}
	.week{
	 height:0.45rem;
	 float:left;
	 margin-top:0.5rem;
	 color:#ccc;
	 .week1{
	 height:0.225rem;
	 line-height:0.225rem;
	 font-size:0.215rem;
	 margin-bottom:0.1rem;
	 }
	 .mouth{
	 height:0.225rem;
	 line-height:0.225rem;
	 font-size:0.215rem;
	 }
	}
}
.right{
	width:1.7rem;
	height:1.7rem;
	line-height:1.7rem;
	float:right;
	color:#fff;
}
}
.big{
	overflow:hidden;
	height:100vh;
	position:relative;
}
.body{
	
	 position:relative;
	 width: 100vw;
  height: 100vh;
  position: relative;
  /*top: 1.7rem;*/
  overflow: hidden;
	 .content{
	 	position:absolute;
	  &.lefttop{
	    width: 18rem;
	    height: 33rem;
	    top:0;
	    left:0;
	  }
	  &.righttop{
	    height: 33rem;
	    width: 18rem;
	    top:0;
	    right: 0;
	  }
	  &.leftbottom{
	    height: 33rem;
	    width: 18rem;
	    bottom:0;
	    left:0;
	  }
	  &.rightbottom{
	    height: 33rem;
	    width: 18rem;
	    bottom:0;
	    right:0;
	  }
	 }
	.body-left1{
	 background:#ffdede;
	 box-sizing:border-box;
	 border-right:2px solid #fff;
	 border-bottom:2px solid #fff;
	 &.l1{
	 	width:350px;
	 	height:610px;
	 	z-index:5;
	 }
	}
	.body-right1{
	 box-sizing:border-box;
	 background:#fdf4c3;
	 border-bottom:2px solid #fff;
	}
	.body-left2{
	 background:#caefff;
	 box-sizing:border-box;
	 border-right:2px solid #fff;
	}
	.body-right2{
	 background:#e0f4be;
	}
	.body-left1,.body-right1,.body-left2,.body-right2{
	 width:5.38rem;
	 height:8.48rem;
	 float:left;
	 overflow-y:scroll;
	 dt{
    display: block;
    width: 100%;
    height: 1.16rem;
    padding: 0.39rem 0.33rem;
    font-size: 0.37rem;
    box-sizing: border-box;
    }
    dd{
    display: block;
    width: 100%;
    height: 0.98rem;
    line-height:0.98rem;
    padding: 0rem 0.39rem;
    border-top: 1px solid #e7c9c9;
    box-sizing: border-box;
    font-size: 0.33rem;
    position:relative;
    background:tra;
  }
  .done::before{
   content:"";
   width:80%;
   height:0.03rem;
   background:#ccc;
   position:absolute;
   top:0;
   bottom:0;
   left:0.39rem;
   margin:auto;
  }
  &.big{
   /* // transform: scale(1.67,1.77);*/
    width: 9rem;
    height: 16rem;
  }
	}
}
@keyframes an{
	0%{
     left:100%;
	}
	100%{
	left:0;
	}
}
@keyframes an1{
	0%{
	left:0;
	}
	100%{
	left:100%;
	}
}
@keyframes an2{
	0%{
	left:-100%;
	}
	100%{
	left:0;
	}
}
@keyframes an3{
	0%{
	left:0;
	}
	100%{
	left:-100%;
	}
}
.add{
	width:100%;
	height:100vh;
	background:#fff;
	position:absolute;
	left:100%;
	top:0;
	z-index:9;
	&.ans{
	animation:an .8s ease both;
	}
	&.ann{
	animation:an1 .8s ease both;
	}
	.header1{
	width:100%;
	height:1.5rem;
	background:#fff;
	border-bottom:2px solid #ccc;
	position:relative;
	.left{
	width:1.35rem;
	height:1rem;
	line-height:1rem;
	color:#333;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto;
	border-right:1px solid #ccc;
	}
	.lefts{
	width:1.08rem;
	height:1.08rem;
	border-radius:50%;
	position:absolute;
	top:0;
	bottom:0;
	left:1.81rem;
	margin:auto;
	background:url("../image/1.jpg")no-repeat center center/cover;
	}
	}
}
.one{
	width:100%;
	height:1.5rem;
	background:#ffdede;
	position:relative;
	.left{
	width:1.5rem;
	height:1.5rem;
	float:left;
	line-height:1.5rem;
	color:#666;
	}
	.input{
	display:block;
	width:80%;
	height:1rem;
	border:none;
	outline:none;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	left:1.52rem;
	background:transparent;
	}
}
.two{
	width:100%;
	height:1.5rem;
	background:#fff;
	border-bottom:1px solid #ccc;
	box-sizing:border-box;
	position:relative;
	.left{
	width:1.16rem;
	height:100%;
	float:left;
	margin-right:0.2rem;
	line-height:1.5rem;
	color:#ccc;
	}
	.change{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	width:100%;
	height:0.7rem;
	padding-left:1.16rem;
	box-sizing:border-box;
	.dian{
	width:0.78rem;
	height:0.78rem;
	border-radius:50%;
	float:left;
	margin:0 0.3rem;
	padding:0.09rem;
	box-sizing:border-box;
	 .circle{
	 width:0.44rem;
	 height:0.44rem;
	 border-radius:50%;

	 }
	 .c1{
     background:#ffdede;
     display:block;
     margin-left: -1px;
     margin-top:-1px;
	 }
	 .c2{
	 background:#fdf4c3;
	 display:none;
	 margin-left: -1px;
     margin-top:-1px;
	 }
	 .c3{
	 background:#caefff;
	  display:none;
	  margin-left: -1px;
     margin-top:-1px;
	 
	 }
	 .c4{
	 background:#e0f4be;
	  display:none;
	  margin-left: -1px;
     margin-top:-1px;
	 }
	}
	}
	
	.d1{
    border:3px solid #ffdede;
    left:1.16rem;
	}
	.d2{
	border:3px solid #fdf4c3;
	left:2.66rem;
	}
	.d3{
	border:3px solid #caefff;
	left:4.16rem;
	}
	.d4{
	border:3px solid #e0f4be;
	left:5.66rem;
	}
	.zi{
	width:2.7rem;
	height:0.6rem;
	line-height:0.78rem;
	float:left;
	color:#333;
	font-size:0.18rem;
	}
	.z1{
     display:block;
     left:2.2rem;
	}
	.z2{
	display:none;
	}
	.z3{
	display:none;
	}
	.z4{
	display:none;
	}
}
.move{
	
}
.three{
	width:100%;
	height:1.5rem;
	background:#fff;
	color:#777;
	border-bottom:1px solid #ccc;
	.left{
	width:1.16rem;
	height:100%;
	float:left;
	line-height:1.5rem;
	color:#ccc;
	}
	.today{
	float:left;
	height:100%;
	line-height:1.5rem;
	font-size:0.32rem;
	margin-right:0.1rem;
	}
	span{
	line-height:1.5rem;
	display:block;
	padding:0 0.1rem;
	float:left;
	}
	.before,.after{
	font-size:0.32rem;
	color:#333;
	}
	.to{
	color:#a7b1b3;
	font-size:0.44rem;
	}
}
.four{
	width:100%;
	height:1.5rem;
	background:#fff;
	border-bottom:1px solid #ccc;
	.left{
	width:1.16rem;
	height:100%;
	float:left;
	line-height:1.5rem;
	color:#ccc;
	}
	.wenzhi{
	 float:left;
	 height:100%;
	 line-height:1.5rem;
	 color:#aaa;
	 font-size:0.32rem;
	}
}
.five{
	width:100%;
	height:1.5rem;
	background:#fff;
	border-bottom:1px solid #ccc;
	.left{
	width:1.16rem;
	height:100%;
	float:left;
	line-height:1.5rem;
	color:#ccc;
	}
	.shezhi{
	 float:left;
	 height:100%;
	 line-height:1.5rem;
	 color:#aaa;
	 font-size:0.32rem;
	}
}
.footer{
	width:100%;
	height:1.5rem;
	background:#fff;
	border-top:1px solid #ccc;
	position:absolute;
	bottom:0;
	left:0;
	.book,.map,.list,.date{
	width:1.5rem;
	height:100%;
	float:left;
	line-height:1.5rem;
	}
	.book{
	color:#ccc;
	font-size:0.75rem;
	}
	.map{
	color:#ccc;
	font-size:0.68rem;
	line-height:1.4rem;
	}
	.list{
	color:#ccc;
	font-size:0.70rem;
	}
	.date{
	color:#ccc;
	font-size:0.80rem;
	}
	.yes{
	float:right;
	width:2.4rem;
	height:100%;
	border-left:1px solid #ccc;
	box-sizing:border-box;
	color:#8dc63f;
	font-size:0.98rem;
	line-height:1.6rem;
	}

}
.menu{
	width:100%;
	height:100vh;
	background:#65624e;
	position:absolute;
	left:-100%;
	top:0;
	z-index:5;
	&.an4{
	animation:an2 .8s ease both;
	}
	&.an5{
	animation:an3 .8s ease both;
	}
	.a{
	width:9rem;
	height:100vh;
	float:left;
	position:absolute;
	z-index:7;
	}
	.b{
	width:100%;
	position:absolute;
	z-index:6;
	height:100vh;
	background:#65624e;
	float:right;
	}
	.header2{
	 width:9rem;
	 height:4.2rem;
	 background:#18c4fd;
	 position:relative;
	 .left{
	 width:2rem;
	 height:2rem;
	 border-radius:50%;
	 position:absolute;
	 top:0;
	 bottom:0;
	 margin:auto;
	 background:url('../image/1.jpg')no-repeat center center/cover;
	 }
	 .left-add{
	 width:1.68rem;
	 height:1.68rem;
	 border-radius:50%;
	 border:2px dotted #fff;
	 position:absolute;
	 left:3.21rem;
	 top:0;
	 bottom:0;
	  margin:auto;
	 line-height:1.68rem;
	 font-size:1rem;
	 color:#fff;
	 }
	}
	.sanjiao{
	width:0;
	height:0;
	border:0.3rem solid transparent;
	border-bottom-color:#fff;
	position:absolute;
	bottom:0;
	left:1.3rem;
	}
	.body{
	width:9rem;
	height:13.22rem;
	background:#fff;
	padding-left:0.32rem;
	padding-top:0.27rem;
	box-sizing:border-box;
	}
	.wenzi{
	float:left;
	line-height:1.34rem;
	font-size:0.42rem;
	margin-left:0.12rem;
	color:#666;
	}
   .bodys{
   width:100%;
   height:1.34rem;
   }
   .footer{
   width:9rem;
   height:1.7rem;
   background:#fff;
   border-top:2px solid #fff;
   div{
   width:1.8rem;
   height:1.7rem;
   line-height:1.7rem;
   color:#666;
   float:left;
   font-size:0.84rem;
   }
   .left4,.left5{
   font-size:0.67rem;
   }
   }
}
   .shi,.shijianzhou,.bianqian,.xiangmu,.biaoqian,.didian{
	width:1.34rem;
	height:1.34rem;
	line-height:1.34rem;
	color:#666;
	text-align:left;
	font-size:0.6rem;
	float:left;
	}
